* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrains Mono", monospace;
}

window {
    background-color: rgba(10, 10, 10, 0.92);
}

button {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #27272a;
    color: #a1a1aa;
    background-color: #111111;
    background-image: none;
    font-size: 13px;
    letter-spacing: 0.05em;
    transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

button:focus,
button:active,
button:hover {
    background-color: #18181b;
    color: #e4e4e7;
    border-color: #3f3f46;
    outline-style: none;
}
